@media only screen and (max-width: 700px){
    header, 
    header nav a
     {
        display: block;
        height: auto;
        width: 60%;
        clear: both;
        text-align: center;
        left: 33%;
        padding: 3px 7px;
        margin: 3px 0px;
    }
}