:root {
    --teksti: #921462;
    --tausta: #e6f97a;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--tausta);
    color: var(--teksti);
}

header {
    position: fixed;
}
