:root {
    --teksti: #921462;
    --tausta: #e6f97a;
    --solu: #3477ad;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--tausta);
    color: var(--teksti);
}

main {
    font-size: 1.4em;
    line-height: 1.1em;
}

section {
    max-width: 1000px;
    width: 75%;
    margin: 15px auto;
}

.johdanto {
    font-size: 1.8em;
    width: 100%;
    text-align: center;
    line-height: 1.2em;
    text-shadow: 0px 1px 49px var(--teksti)
}

.sisältö td {
    min-width: 170px;
}

.piilo {
    visibility: hidden;
}


header {
    width: 100%;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    color: var(--tausta);
    background-color: var(--teksti);
    padding: 6px 11px;
    margin: 5px 38px;
    border-radius: 21px;
}

nav a:hover {
    background-color: var(--solu);
}