:root {
    --teksti: #921462;
    --tausta: #e6f97a;
    --varjo: #af1e0b;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--tausta);
    color: var(--teksti);
}

main {
    font-size: 1.4em;
    line-height: 1.1em;
}

section {
    max-width: 905px;
    width: 75%;
    margin: 15px auto;
}

.johdanto {
    font-size: 1.8em;
    padding-top: 44px;
    width: 100%;
    text-shadow: 0px 1px 30px var(--varjo)
}